
.DS_Store

*.xml

Uark_Exam.Repository/Uark_Exam.Repository/obj/Debug/

Uark_Exam.Repository/bin/Debug/Uark_Exam.Repository.dll

Uark_Exam.Repository/bin/Debug/Uark_Exam.Repository.pdb

Uark_Exam/Uark_Exam/bin/

Uark_Exam/Uark_Exam/obj/Debug/

Uark_Exam.Repository/obj/Debug/

Uark_Exam.Repository/bin/Debug/

Uark_Exam/packages/Microsoft.Bcl.AsyncInterfaces.8.0.0-rc.1.23419.4/lib/net462/

*.targets
