@model List<Uark_Exam.ViewModal.OrgModal>

@{
    ViewBag.Title = "OrgsGrid";
    Layout = "~/Views/Shared/_Layout.cshtml";}


<script>
$(function()
{
    GetDataWithNoServerSide('GridTable');
});
</script>

<div class="table-responsive">
    <table class="table table-striped table-bordered table-reflow" id="GridTable" style="overflow: hidden" cellspacing="0" width="100%">
        <thead class="bc-blueLight">
        <tr id="GridTitle">
            <th id="Title">Title</th>
            <th id="OrgNo">OrgNo</th>
            <th id="CreateDate">CreateDate</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Title</td>
                <td>@item.OrgNo</td>
                <td>@item.CreatedDateTime</td>
            </tr>
        }
        </tbody>
    </table>
</div>