<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="webSite" value="Uark_Exam" />
  <variable name="logPath" value="/Users/tomkao/Documents/Git/log/${webSite}/" />

  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <targets>

    <target xsi:type="File" name="allfile" fileName="${logPath}${webSite}.log"
            archiveNumbering="Rolling" archiveAboveSize="10485760" archiveFileName="${logPath}${webSite}.log${date:format=yyyyMMdd}"
            layout="[${uppercase:${level}}] ${longdate} - ${message} ${exception:format=tostring}" />

    <target xsi:type="File" name="infoFile" fileName="${logPath}${webSite}-info.log"
            archiveNumbering="Rolling" archiveAboveSize="10485760" archiveFileName="${logPath}${webSite}-info.log${date:format=yyyyMMdd}"
            layout="[${uppercase:${level}}] ${longdate} - ${message} ${exception:format=tostring}" />

    <target xsi:type="File" name="errorFile" fileName="${logPath}${webSite}-error.log"
            archiveNumbering="Rolling" archiveAboveSize="10485760" archiveFileName="${logPath}${webSite}-error.log${date:format=yyyyMMdd}"
            layout="[${uppercase:${level}}] ${longdate} - ${message} ${exception:format=tostring}" />
  </targets>

  <rules>
    <logger name="Microsoft.*" maxlevel="Info" final="true" />
    <logger name="System.Net.Http.*" maxlevel="Info" final="true" />

    <logger name="*" levels="Info,Error,Fatal" writeTo="allfile" />
    <logger name="*" level="Info" writeTo="infoFile" />
    <logger name="*" levels="Fatal,Error" writeTo="errorFile" />
  </rules>
</nlog>
